@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Mali");

:root {
  --custYellow: #fdbe02;
  --custWhite: #fff;
  --custBlack: #071013;
  --custGrey: rgba(0, 0, 0, 0.1);
  --custGrey2: #9b9999;
}

.services {
  color: var(--mainBlack);
  background: var(--custWhite);
  font-family: "Mali", cursive;
}

.service-icon {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--custYellow);
  background: var(--custGrey2);
  padding: 0.5rem 1rem;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}

.service-icon:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: var(--custWhite);
  transition: all 0.4s ease-in-out;
  background: var(--custYellow);
  cursor: pointer;
}

.service-icon > i {
  min-width: 2rem;
}

.product-div {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.178), 0 7px 5px 0 rgba(0, 0, 0, 0.137);
  margin: 0px !important;
  width: 300px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.product-div:hover {
  box-shadow: 2px 20px 20px 2px rgba(0, 0, 0, 0.24),
    0 20px 20px 0 rgba(0, 0, 0, 0.19);
}
.price {
  color: #f86a0c;
  font-size: 1.175em;
}

.product-container {
  background: var(--custGrey);
  position: relative;
  overflow: hidden;
  height: 20rem;
}
.product-tags {
  background: var(--custYellow);
  display: inline-block;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  padding: 0.2rem 1rem 0.2rem 0.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  transition: all 1s ease-in-out;
}
.product-buy-link {
  background: var(--custYellow);
  color: var(--custBlack);
  padding: 0.2rem 0.4rem;
  position: absolute;
  left: 36%;
  top: 87%;
  border-radius: 4px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: all 1s ease-in-out;
}
.product-buy-link:hover {
  text-decoration: none;
  background: var(--custYellow);
  color: var(--custBlack);
}

.old-price {
  text-decoration: line-through;
}
.products-categories-underline {
  height: 0.2rem;
  width: 5rem;
  background: var(--custYellow);
}
